/* ---------------------------------- */
/* BASIC SETUP */
/* --------------------------------- */

/* Global style rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* class for testing the design flow during development, comment out when deploying, use when testing. ALSO COMMENT OUT THE BACKGROUND COLOR PROPERTY FROM ROW !!!! */

/* global styles */
html {
  background-color: #fff;
  color: #555;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/* fixing the floats */
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/* ---------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------- */
/* Row is the parent style for every relative width style */
.row {
  width: 1140px;
  /* top and bottom 0, left and right auto */
  margin: 0 auto;
  /* background-color: rgba(204, 202, 202, 0.39); */
}
.general_border {
  /* border: 1px solid rgb(206, 26, 26); */
}
.box {
  padding: 1%;
}

/* ---------- section styling ------------- */
section {
  padding: 80px 0;
}

/* ---------- headings ------------- */
h1,
h2,
h3 {
  /* font size relative to the global font size */
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* ------- paragraphs ------------- */
.long-copy {
  line-height: 145%;
  width: 60%;
  margin-left: 20%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ------- icons ------------- */
.icon-big {
  font-size: 320%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
  text-align: center;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  margin-right: 5px;
  /* secrets to align the icon and the font */
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

/* ------- links ------------- */
a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  transition: border-bottom 0.3s, color 0.3s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* ------- buttons ------------- */
.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff;
}

/* ---------------------------------- */
/* header */
/* --------------------------------- */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712)),
    url(img/hero.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin: 20px 0 0 0;
}

.main-nav {
  float: right;
  list-style: none;
  margin: 55px 0 0 0;
}

.main-nav li {
  display: inline-block;

  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 5px 0;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  /* font size relavtive to 20px */
  font-size: 90%;
  border-bottom: 2px solid transparent;
  border-radius: 2px;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-radius: 2px;
  border-bottom: 2px solid #e67e22;
}

/* ---------------------------------- */
/* Feature*/
/* --------------------------------- */
.section-features .long-copy {
  margin-bottom: 20px;
}

/* ---------------------------------- */
/* meals */
/* --------------------------------- */
.section-meals {
  padding: 0%;
}
.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  /* to stop the overflow of the scled images from the parent element */
  overflow: hidden;
  background-color: #000;
}

.meal-photo img {
  opacity: 0.6;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
  transform: scale(1.05);
  opacity: 1;
}

/* ---------------------------------- */
/* HOW IT WORKS */
/* --------------------------------- */
.section-steps {
  background-color: #f4f4f4;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
}

.works-step {
  margin-bottom: 50px;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  color: #e67e22;
  display: inline-block;
  border: 2px solid #e67e22;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 130%;
  margin-right: 15px;
}

.btn-app:link,
.btn-app:visited {
  border: 0;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin: 0 10px 0 0;
}

/* ---------------------------------- */
/* CITIES*/
/* --------------------------------- */

.box img {
  width: 100%;
  height: 164px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.city-features {
  margin-bottom: 5px;
}

/* ---------------------------------- */
/* CUSTOMER TESTIMONIALS */
/* --------------------------------- */
.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("img/back-customers.jpg");
  background-size: cover;
  color: rgb(255, 244, 232);
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote:before {
  content: "\201C";
  font-size: 500%;
  position: absolute;
  left: -5px;
  top: -5px;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* ---------------------------------- */
/*  PRICE PLANS */
/* --------------------------------- */

.section-plans {
  background-color: #f4f4f4;
}

.plan-box {
  background-color: #fff;
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
  -webkit-box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.58);
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid rgba(248, 196, 172, 0.836);
}

.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.plan-box div:last-child {
  text-align: center;
  border: 0;
}

.plan-price {
  font-size: 300%;
  font-weight: 100;
  margin-bottom: 10px;
  color: #e67e22;
}

.plan-price span {
  font-size: 30%;
  font-weight: 300;
}

.plan-price-meal {
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 5px 0;
}

/* ---------------------------------- */
/*  Form */
/* --------------------------------- */

.contact-form {
  width: 100%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 50%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

/* ---------------------------------- */
/*  Footer */
/* --------------------------------- */
footer {
  background-color: #333;
  padding: 40px;
  /* height: 20vh; */
}

.footer-navigation {
  list-style: none;
  float: left;
  cursor: pointer;
}

.social-icons {
  list-style: none;
  float: right;
  cursor: pointer;
}

.footer-navigation li,
.social-icons li {
  display: inline-block;
  margin-right: 20px;
}

.footer-navigation li:last-child,
.social-icons li:last-child {
  margin-right: 0;
}

.footer-navigation li a:link,
.footer-navigation li a:visited,
.social-icons li a:link,
.social-icons li a:visited {
  text-decoration: none;
  border: none;
  color: #888;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  transition: color 0.2s;
}

.footer-navigation li a:hover,
.footer-navigation li a:active {
  color: rgb(199, 197, 197);
}

.social-icons li a:link,
.social-icons li a:visited {
  font-size: 140%;
}

.ion-social-facebook:hover {
  color: #3b5998;
}
.ion-social-twitter:hover {
  color: #00aced;
}
.ion-social-googleplus:hover {
  color: #dd4b39;
}
.ion-social-instagram:hover {
  color: #517fa4;
}

footer p {
  margin-top: 30px;
  color: #888;
  text-align: center;
  font-size: 90%;
}
